/* Fix logo overlapping nav links on small screens */
@media (max-width: 768px) {
  .navbar-header,
  .navbar-brand {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    float: none !important;
    clear: both !important;
    display: block !important;
  }
  .navbar-brand img,
  .site-title img,
  .title-img,
  .navbar-header img,
  .navbar .title-img img,
  .navbar .navbar-brand img {
    max-height: 50px !important;
    height: 50px !important;
    width: auto !important;
    margin-bottom: 20px !important;
    margin-top: 10px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
    clear: both !important;
  }
  .navbar-nav {
    margin-top: 0 !important;
    clear: both !important;
    float: none !important;
    display: block !important;
    text-align: center !important;
  }
}
/* New global button color */
.btn-primary {
  background-color: #16a34a;
  color: white;
}

.btn-primary:hover:not(.disabled) {
  background-color: #15803d;
  color: #e5e7eb;
}

.btn.disabled,
.btn-primary.disabled {
  background-color: #16a34a;
  color: white;
  opacity: 0.5;
  cursor: not-allowed;
}
